extends ../layouts/default

block content
  .row.twitter-container
    .col-lg-3.col-md-4
      .logged-user
        .row.avatar-row
          .col-xs-4
            - if (req.user.provider == 'facebook')
              img(class='profile-image', src='http://graph.facebook.com/' + req.user.facebook.id + '/picture')
            - if (req.user.provider == 'github')
              img(class='profile-image', src=req.user.github.avatar_url)
            - if (req.user.provider == 'twitter')
              img(class='profile-image', src="#{req.user.twitter.profile_image_url}")
          .col-xs-8
            a(href="/users/" + req.user.id)
              h4 #{req.user.name}
          .col-md-12.col-xs-8.user-stats
            ul
              li
                span.stat-title Tweets:
                span
                  a(href="/users/" + req.user.id) #{tweetCount}
              li
                span.stat-title Following:
                span 
                  a(href="/users/" + req.user._id + "/following")  #{followingCount}
              li
                span.stat-title Followers: 
                span
                  a(href="/users/" + req.user._id + "/followers")  #{followerCount}
      .useful-links.medium
        include ../useful-links
      .recent-visits.medium
        include ../analytics/recent-visits
    .col-lg-6.col-md-8
      include tweets
    .col-lg-3.col-md-4
      .recent-visits.large.small.col-xs-6.col-md-12
        include ../analytics/recent-visits
      .useful-links.small.col-xs-6.col-md-12
        include ../useful-links
  #myModal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Compose new Tweet
        .modal-body
          form(method='post', action='/tweets')
            .control-group
              label.control-label(for='tweet')
              .controls
                textarea.flat.form-control(type='text', name='body', placeholder='Enter your tweet here', maxlength='140')
            .form-actions
              button.btn(type='submit') Tweet
