extends ../layouts/default

block content
  each user in users
    .well
      h3 Profile
        img(class="profile-image img-thumbnail", src=user.github.avatar_url)
        i.icon-github.icon-3x
        div.user-info
          a(href="#{user.github.html_url}", target='_blank') @#{user.github.login}
          ul.list-unstyled
           li followers on github: #{user.github.followers}
           li public repos: #{user.github.public_repos}
      if (user._id != req.user.id)
        a.btn(href="#", class="btn-success follow", data-userid=user._id, data-logged=req.user.id,title="follow") follow
  - if (pages > 1)
    ul.pagination
      != createPagination(pages, page)
