extends ../layouts/default

block content
  .row#profile-page
    .col-lg-4
      .profile-summary
        img(class="profile-image", src=user.github.avatar_url)
        div.user-info
          span.profile-handle
            a(href=user.github.html_url, target='_blank') @#{user.github.login}
          ul
            li Github followers: #{user.github.followers}
            li Public repositories: #{user.github.public_repos}
          .row
            .col-12.user-stats
              ul
                li
                  span.stat-title Tweets:
                  span #{tweetCount}
                li
                  span.stat-title Following:
                  span 
                    a(href="/users/" + user._id + "/following")  #{followingCount}
                li
                  span.stat-title Followers: 
                  span
                    a(href="/users/" + user._id + "/followers")  #{followerCount}
        if (user._id != req.user.id)
          a.btn(href="#", class="btn-success follow", data-userid=user._id, data-logged=req.user.id,title="follow") follow
    .col-lg-8
      include ../tweets/tweets
