extends ../layouts/default

block content
  h1 Welcome #{user.name}
  p #{user.provider}
  - if (user.provider == 'facebook')
     img(src='http://graph.facebook.com/'+user.facebook.id+'/picture')

  - if (user.provider == 'github')
      img(src=user.github.avatar_url)

  each tweet in tweets
    .tweet
     a(href="/users/"+tweet.user._id)=tweet.user.name
     if (tweet.user._id == req.user.id)
     p=tweet.body
     p.date= formatDate(tweet.createdAt, "%b %d, %Y at %I:%M %p")


