extends ../layouts/default

block content
  .well
    h2 Profile of #{user.name}
    - if (user.provider == 'facebook')
       img(class="profile-image", src='http://graph.facebook.com/'+user.facebook.id+'/picture')
       p #{user.facebook.quotes}
    - if (user.provider == 'github')
        img(src=user.github.avatar_url)
        h3 #{user.github.blog}
    if (user._id != req.user.id)
      a.btn(href="#", class="btn-success follow", data-userid=user._id, data-logged=req.user.id,title="follow") follow
    hr
    p This User logged in from #{user.provider}

