extends ../layouts/default

block content
  .row#profile-page
    .col-lg-4
      .profile-summary
        - if (user.github !== undefined)
          img(class="profile-image", src=user.github.avatar_url)
        div.user-info
          span.profile-handle
            - if (user.github !== undefined)
              a(href=user.github.html_url, target='_blank') @#{user.github.login}
          - var id = user._id + 'ChatModal';
          ul
            - var name = user.name ? user.name : user.username
            - if (user.github !== undefined)
              li Github followers: #{user.github.followers}
              li Public repositories: #{user.github.public_repos}
              li.message-row
                a(data-toggle='modal', href='#'+ id, class="btn btn-success btn-message")
                  span Message #{name}
                - var currentUserId = req.user._id.toString()
                - var userId = user._id.toString()
                - if (currentUserId == userId)
                  a(target='_blank', href='/chat/get/' + user._id, class="btn btn-success")
                    span Check Inbox
          if (req.isAuthenticated())
            div(id=id, class='modal fade')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Send new message to #{name}
                  .modal-body
                    form(method='post', action='/chats')
                      .control-group
                        label.control-label(for='chat')
                        .controls
                          textarea.flat.form-control(type='text', name='body', placeholder='Enter your Message here', maxlength='200')
                          input(type="hidden", name='receiver', value=user._id)
                      .form-actions
                              button.btn(type='submit') Send Message
          .row
            .col-12.user-stats
              ul
                li
                  span.stat-title Tweets:
                  span #{tweetCount}
                li
                  span.stat-title Following:
                  span 
                    a(href="/users/" + user._id + "/following")  #{followingCount}
                li
                  span.stat-title Followers: 
                  span
                    a(href="/users/" + user._id + "/followers")  #{followerCount}
        if (user._id != req.user.id)
          a.btn(href="#", class="btn-success follow", data-userid=user._id, data-logged=req.user.id,title="follow") follow
    .col-lg-8
      include ../components/tweets
