.col-12.tweet__comments
  if tweet.comments.length > 0
    hr
    each comment in tweet.comments
      if (comment && comment.user)
        if (comment.commenterPicture)
          img(class='tweets__comment-image', src=comment.commenterPicture)
        else
          img(class='tweets__comment-image', src='http://via.placeholder.com/20x20')
        span.tweet__username-date
          span.tweet__username
            if (comment.commenterName && comment.user)
                a(href="/users/" + comment.user)= comment.commenterName 
            else if (comment.user)
                a(href="/users/" + comment.user)= comment.user 
          span.tweet__date  • #{formatDate(comment.createdAt, "%b %d, %Y at %I:%M %p")}
        p.tweet__content= comment.body
  hr
  form(class="tweet__comment-form" method="post", action="/tweets/"+ tweet._id + "/comments")
    textarea(type='text', name="body", placeholder='Enter the comment')
    button.btn(type='submit') Comment
